
<div class='container'>
    <div class='container'>
        <div class='row border  border-dark'>
            <div class='col-1'>
                {{getCurrency()}}
            </div>
            <div class='col-2'>
                {{getNewPrice(    )}}
        
            </div>
        <div class='col-3'>
            
        </div>
        <div class='col-4'>
            
            <img class=" {{complete ? 'd-none' : '' }}"
                src="{{ imageSource }}"
            
                [style.width.px]='imageWidth' 
            />

        </div>
        <div class='col-2'>

            <button   type="submit" class="btn btn-dark  {{complete ? '' : 'd-none' }}   "  (click)="orderNow()" >Order</button>

        </div>
    </div>
</div>