<div class='container'>
    <div class='row border border-dark'>
        <div class='col-1'>
            {{currency}}
        </div>
        <div class='col-2'>
            {{getNewPrice(   ingredientData.price      )}}
    
        </div>
        <div class='col-3'>
            {{ingredientData.title}}
        </div>
        <div class='col-3'>
            
            <img src='{{ingredientData.imageURL}}'
             [style.width.px]='200' />

        </div>
        <div class='col-3'>
            <button type="submit" class="btn btn-dark" (click)="addTheIngredient(
                ingredientData.title,  ingredientData.description,  ingredientData.price,
                ingredientData.imageURL
                 )"  >Add</button>
        </div>
    </div>
</div>




